<ion-view title="Door Control" id="page4" style="background-color:#D0E0E7;">
    <ion-content padding="true" class="has-header">
        <form id="doorControl-form2" class="list">
            <ion-toggle toggle-class="toggle-calm" id="doorControl-toggle1" name="front-door">Front</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" id="doorControl-toggle2" name="back-door">Backyard</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" id="doorControl-toggle3" name="master-door">Master Room</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" id="doorControl-toggle4">Guest Room</ion-toggle>
            <ion-toggle toggle-class="toggle-calm" id="doorControl-toggle8" name="garage">Garage</ion-toggle>
        </form>
    </ion-content>
</ion-view>