<ion-view title="Home Lighting" hide-back-button="true" id="page3" style="background-color:#D0E0E7;">
    <ion-content padding="true" scroll="false" class="has-header">
        <form id="homeLighting-form5" class="list">
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="spacer" style="width: 300px; height: 16px;"></div>
            <div id="homeLighting-button-bar2" class="button-bar">
                <button id="homeLighting-button12" style="font-size:14px;border-radius:20px 20px 20px 20px;" class="button button-dark  button-block icon-left ion-ios-lightbulb-outline">Master</button>
                <button id="homeLighting-button8" style="font-size:14px;border-radius:20px 20px 20px 20px;" class="button button-energized  button-block icon-left ion-ios-lightbulb-outline">Guest</button>
                <button id="homeLighting-button9" style="font-size:14px;border-radius:20px 20px 20px 20px;" class="button button-energized  button-block icon-left ion-ios-lightbulb-outline">Kitchen</button>
            </div>
            <div id="homeLighting-button-bar3" class="button-bar">
                <button id="homeLighting-button13" style="font-size:14px;border-radius:20px 20px 20px 20px;" class="button button-dark  button-block icon-left ion-ios-lightbulb-outline">Lounge</button>
                <button id="homeLighting-button14" style="font-size:14px;border-radius:20px 20px 20px 20px;" class="button button-dark  button-block icon-left ion-ios-lightbulb-outline">Garage</button>
                <button id="homeLighting-button15" style="font-size:14px;border-radius:20px 20px 20px 20px;" class="button button-dark  button-block icon-left ion-ios-lightbulb-outline">Garden</button>
            </div>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
        </form>
    </ion-content>
</ion-view>