<ion-view title="Surveillance Camera" hide-back-button="true" id="page2" style="background-color:#D0E0E7;">
    <ion-content padding="true" class="has-header">
        <form id="surveillanceCamera-form4" class="list">
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="spacer" style="width: 300px; height: 45px;"></div>
            <button id="surveillanceCamera-button6" style="border-radius:50px 50px 50px 50px;" class="button button-calm button-large button-block icon ion-camera"></button>
        </form>
    </ion-content>
</ion-view>